<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}FrontEnd{% endblock %}</title>
    
    {# CDN de Bootstrap 5 #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {# CDN de Bootstrap JS (opcional si usas componentes interactivos de Bootstrap) #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>